<!DOCTYPE html>
<html>
  <head>
    <title>Init</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
  </head>
  <body>
   
  <% unless current_user %> 
  <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-scope="email,user_photos" data-use-continue-as="false" data-onlogin="login" > </div>
  <% else %>
       <img src="<%= current_user[:image] %>" alt=""> <br/>
       <%= current_user[:name] %> <br/>
       <%= current_user[:email] %>
       <br/>
       <br/>
       <%= link_to "Logout", destroy_user_session_path, method: :delete , class: "logOut" %>
  <% end %>  
   
       <br/>
  	  

  </body>
</html>
